.backToTop {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  .btnInnerSpan {
    filter: hue-rotate(240deg) saturate(5) brightness(1.2) contrast(1.3);
    transform-origin: 50% 65%;
  }

  &:hover .btnInnerSpan,
  &:focus-visible .btnInnerSpan {
    display: inline-block;
    animation:
      rotate 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.175) forwards,
      squish 0.4s forwards;
  }

  .btnOuterSpan {
    background-color: var(--bg-color);
    border-radius: 15px;
    corner-shape: squircle;
    bottom: 1rem;
    outline: 1px solid var(--outline-purple);
    padding: 0.5rem 1rem;
    position: fixed;
    right: 2rem;
    line-height: 1.6;
    transition: background-color 0.3s;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accent-purple);

    &::after {
      content: "";
      position: absolute;
      inset: 0.2rem;
      border-radius: 15px;
      corner-shape: squircle;
      background: linear-gradient(
        to bottom,
        rgb(from var(--accent-purple) r g b / 0.35),
        transparent 12%
      );
      z-index: -1;
    }
  }

  &:focus-visible span {
    outline: 2px solid white;
    outline-offset: 3px;
  }
}

.showBackToTop {
  opacity: 1;
  pointer-events: all;
}

@keyframes squish {
  0% {
    scale: 1;
  }
  80% {
    scale: 0.65;
  }
  95% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -360deg;
  }
}

.resultsWrapper {
  color: hsl(from var(--accent-purple) h s calc(l + 10));
  padding-inline: 1rem;

  .moreInfoWrapper {
    display: grid;
    gap: 0.5rem;
    text-align: center;
    padding-inline: 1rem;

    p:not(span) {
      color: hsl(from var(--outline-purple) h s calc(l + 40));
    }

    span {
      font-size: 1.25rem;
      font-weight: 700;
      color: hsl(from var(--accent-purple) h s calc(l + 10));
    }

    ol li {
      width: fit-content;
      text-align: center;
      margin-inline: auto;

      &::marker {
        color: hsl(from var(--outline-purple) h s calc(l + 40));
      }
    }
  }
}

.resCount {
  margin-inline: auto;
  margin-block-end: 1rem;
  border-bottom: 3px solid var(--outline-purple);
  padding-block-end: 0.25rem;
  padding-inline: 0.5rem;
  width: fit-content;
  color: var(--accent-purple);
}

.resultItem {
  p {
    font-size: 1.125rem;
    text-align: center;
  }

  p:first-child {
    font-size: 1.5rem;
    font-weight: 700;
  }
  p:last-child {
    font-size: 1rem;
  }

  &:not(:last-of-type) + span {
    /* + span { */
    height: 3px;
    width: 50%;
    display: block;
    margin-inline: auto;
    background-color: var(--outline-purple);
    margin-block: 1rem 0.5rem;
  }
}
