.searchForm {
  display: grid;
  font-size: 1.25rem;
  width: 50%;
  margin-inline: auto;

  h1 {
    padding-block-start: 2rem;
    font-size: 3rem;
    margin-block-end: 1rem;
  }

  .inputWrapper {
    display: grid;
    gap: 0.75rem;
    margin-block-end: 2rem;
  }

  select,
  input {
    /* maybe later set up the dropdown like the ones in the electron app */
    width: 100%;
    padding: 0.5rem;
    font: inherit;
  }

  button {
    padding-block: 1rem;
    margin-block-start: 1rem;
  }
}
