.headerNavList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 800px;
  margin-inline-start: auto;

  button {
    width: 100%;
    max-width: 10rem;
  }
}
